<html th:replace="~{base::layout(~{::main})}">
	<body>
		<main class="font-[times]">
			<div class="bg-gray-200 text-center px-5 sm:px-10 md:px-40 lg:px-80 py-10 sm:py-20 ">
				<div class="text-[#9f9f9f] text-md md:text-lg">Insights & Inspiration</div>
				<div class="text-2xl sm:text-3xl md:text-5xl italic font-bold my-5">Fashion <span class="textg italic"> Decoded </span> </div>
				<div class="text-lg md:text-xl text-[#9f9f9f] my-5">Whether you have a question about an order, need styling advice, or just want to say hello — our team is here for you.</div>
			</div>
			<div class="p-3 border-y border-gray-500 sticky top-15 bg-white z-50">
				<ul class="flex list-none items-center">
					<li class="p-2 font-bold border border-gray-500 rounded-2xl px-5 mx-3 hover:text-white hover:bg-black">ALL</li>
					<li class="p-2 font-bold border border-gray-500 rounded-2xl px-5 mx-3 hover:text-white hover:bg-black">SHIRTS</li>
				</ul>
			</div>
			<div class="grid grid-cols-3 my-20 gap-5">
			
				<div class="col-span-2   px-10">
					<div class="grid grid-cols-2 gap-4">
					  <div
					    id="card"
					    class="col-span-2 md:col-span-1 border border-[#f9f9f9] shadow-xl hover:scale-102 py-3"
					  >
					    <img alt="Image not found" src="images/f1.png" class="w-full h-3/4 my-2" />
					    <div class="h-1/4 px-5">
					      <div class="text-[#9f9f9f] mt-1">SHIRTS</div>
					      <div class="font-bold mt-1 text-sm pb-5 border-b border-[#9f9f9f]">
					        What is Clothing brand?
					      </div>
					      <div class="flex justify-around mt-1">
					        <div class="float-left text-[#9f9f9f] text-md mt-5">Mar 03,2025</div>
					        <a class="float-right text-md mt-5" href="#"
					          >Read <i class="fa-solid fa-arrow-right mx-2"></i
					        ></a>
					      </div>
					    </div>
					  </div>
					  <div
					    id="card"
					    class="col-span-2 md:col-span-1 border border-[#f9f9f9] shadow-xl hover:scale-102 py-3"
					  >
					    <img alt="Image not found" src="images/f2.png" class="w-full h-3/4 my-2" />
					    <div class="h-1/4 px-5">
					      <div class="text-[#9f9f9f] mt-1">SHIRTS</div>
					      <div class="font-bold mt-1 text-sm pb-5 border-b border-[#9f9f9f]">
					        What is Clothing brand?
					      </div>
					      <div class="flex justify-around mt-1">
					        <div class="float-left text-[#9f9f9f] text-md mt-5">Mar 03,2025</div>
					        <a class="float-right text-md mt-5" href="#"
					          >Read <i class="fa-solid fa-arrow-right mx-2"></i
					        ></a>
					      </div>
					    </div>
					  </div>
					
					  <div
					    id="card"
					    class="col-span-2 md:col-span-1 border border-[#f9f9f9] shadow-xl hover:scale-102 py-3"
					  >
					    <img alt="Image not found" src="images/f3.png" class="w-full h-3/4 my-2" />
					    <div class="h-1/4 px-5">
					      <div class="text-[#9f9f9f] mt-1">SHIRTS</div>
					      <div class="font-bold mt-1 text-sm pb-5 border-b border-[#9f9f9f]">
					        What is Clothing brand?
					      </div>
					      <div class="flex justify-around mt-1">
					        <div class="float-left text-[#9f9f9f] text-md mt-5">Mar 03,2025</div>
					        <a class="float-right text-md mt-5" href="#"
					          >Read <i class="fa-solid fa-arrow-right mx-2"></i
					        ></a>
					      </div>
					    </div>
					    
					  </div>
					</div>
				</div>

				<div class="col-span-1 px-10">
					<div class="border border-[#9f9f9f] p-5">
						<div class="text-xl border-b border-gray-500 pb-2">Search</div>
						<div class="border border-gray-500 p-2 mt-3 grid grid-cols-5">
							<input type="search" placeholder="Search articles...." class="col-span-4 border-none" >
							<a href="#" class="col-span-1"><img alt="Image not found" src="images/search.png"> </a>
						</div>
					</div>
					<div class="border border-[#9f9f9f] p-5 mt-5">
						<div class="text-xl border-b border-gray-500 pb-2">Shop the Look</div>
					</div>
					<div class="border border-[#9f9f9f] p-5 mt-5">
						<div class="text-xl border-b border-gray-500 pb-2" >Cateogries</div>
						<ul class="list-none">
							<li class="text-md pb-2">Shirts <span class="float-right">03</span> </li>
							<li class="text-md	  pb-2">Jackets <span class="float-right">00</span> </li>
						</ul>
					</div>
				</div>
			</div>
		</main>
	</body>
</html> 