<html th:replace="~{base::layout(~{::main})}">
	<body>
		<main class="font-[times]">
			<div class=" px-10 md:px-20 pt-5  md:py-10 ">
				<div class="text-xl md:text-2xl lg:text-4xl">Return Policy</div>
				<div class="text-md md:text-lg font-[sans] py-2 text-[#9f9f9f]">
					We only accept returns in case the product is received damaged or defective. If you wish to try the fragrance beforehand, we recommend starting with one of our Discovery Sets.
				</div>
			</div>
		</main>
	</body>
</html>