<html th:replace="~{base::layout(~{::main})}">
	<body>
		<main class="font-[times]">
			<div class="bg-[#f7f7f7] px-10 md:px-20 pt-5 lg:py-20 md:py-10 border-y border-gray-500 ">
				<div class="text-xl md:text-2xl lg:text-5xl">The Collection</div>
				<div class="text-md md:text-lg font-[sans] text-[#9f9f9f]">
					<a href="/">Home </a>/ Shop
				</div>
			</div>
			<div class="my-10 md:my-20 px-10 md:px-20 grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 gap-10">
				<div class="col-span-1 border border-gray-500 p-5 shadow-xl">
					<form th:action="@{/shop}" method="get">
						<div class="grid grid-cols-2  pb-3 border-b border-gray-500">
							<div class="col-span-1  text-lg">Filters</div>
							<div class="col-span-1 text-right text-[#9f9f9f]"><button type="reset">Clear All</button> </div>
						</div>
						<div class="my-2">
							<div class="grid grid-cols-2  pb-3 border-b border-gray-500">
							<span class="col-span-1 text-left text-lg">CATEGORY</span> 
							<span id="category" class="col-span-1 text-right text-[#9f9f9f] py-2"><i class="fa-solid fa-angle-down"></i></span></div>
							<div class="grid gap-2 font-[sans] hidden" id="items">
								<div class="grid grid-cols-3" >
									 <span class="col-span-2 "><input type="checkbox" class="mx-2" >All</span> 
								 	<span class="col-span-1 text-right text-[#9f9f9f]">03</span>
								 </div>
								<div class="grid grid-cols-3" th:each="cate:${categories}">
								 <span class="col-span-2 "><input type="checkbox" class="mx-2"   name="category" th:value="${cate.id}"><span th:text="${cate.categoryName}"></span> </span> 
								 <span class="col-span-1 text-right text-[#9f9f9f]">00</span>
								</div>
						
							</div>
						</div>
						<div>
						<div class=" text-lg text-left pb-3 border-b border-gray-500">PRICE RANGE</div>
						<div> <input type="range" id="pricerange" name="price" value="1000" min="0" max="2599" class="py-2 w-full"> </div>
						<div class="grid grid-cols-2">
							<span class="col-span-1 text-left"><i class="fa-solid fa-indian-rupee-sign"></i>0</span>
							<span class="col-span-1 text-right" >Upto<i class="fa-solid fa-indian-rupee-sign"></i> <span id="text">1000</span> </span>
						</div>
						<div class="pb-3 border-b border-gray-500 my-2">
							<div class=" text-left text-lg">AVAILABLITY</div>
							<input type="checkbox" name="stock" class="m-2">In Stock Only
						</div>
						<button type="submit" class="w-full text-center text-lg border border-gray-500 py-2 my-2">APPLY FILTER</button>
						
					</div>
					</form>
				</div>
				<div class="col-span-1 sm:col-span-2 md:col-span-3  w-full">
					<div class="grid grid-cols-2 py-5 border-b border-gray-500">
						<div class="col-span-1 text-left text-md p-2">Showing 1- <span>5</span> of <span>5</span> products </div>
						<div class="col-span-1 text-right text-md">
						<form th:action="@{/shop}" method="get">
							<select class="border p-2 border-gray-500" onchange="this.form.submit()" name="sort">
								<option value=""  selected>Sort:Featured</option>
								<option name="low"> Price:Low to High</option>
								<option name="high">Price:High to Low</option>
								<option name="new">Newest Arrivals</option>
							</select>
							</form>
						</div>
					</div>
					<div class="grid grid-cols-2 md:grid-cols-3 p-3 md:p-5 gap-4">
    <div id="card" class="col-span-1 relative border border-[#f9f9f9] shadow-lg hover:scale-102 py-3" th:each="product:${products}">
        <img alt="Image not found" th:src="@{'/ProductImages/' + ${product.productImages[0]}}"
             class="w-full h-48 md:h-64 my-2 object-cover">

        <div>
            <div class="text-[#9f9f9f] mx-3 md:mx-5 mt-1 text-xs md:text-sm" th:text="${product.category.categoryName}">SHIRTS</div>

            <div class="mx-3 md:mx-5 font-bold mt-1 text-sm md:text-base" th:text="${product.productName}">
                
            </div>
             <div class="mx-3 md:mx-5 font-bold mt-1 text-sm md:text-base" th:text="'Brand- ' + ${product.brandName}">
                
            </div>

            <div class="flex justify-between mx-3 md:mx-5 mt-1 text-xs md:text-sm">
                <div class="font-bold">
                    <i class="fa-solid fa-indian-rupee-sign"></i><span th:text="${product.finalPrice}"></span>
                </div>

                <div class="text-[#9f9f9f] line-through">
                    <i class="fa-solid fa-indian-rupee-sign"></i><span th:text="${product.sellingPrice}"></span>
                </div>

                <div th:text="${product.discount}+'%'">-100%</div>
            </div>

            <div class="mx-3 md:mx-5 mt-1 text-xs md:text-sm" th:text="${product.colors}">
               
            </div>
            <div class="mt-1 border p-1 rounded-2xl  w-full sm:w-2/3 lg:w-1/2 mx-auto bg-green-500 text-center  text-white cursor-pointer" th:if="${product.quantity>0}">
								InStock
							</div>
			<div class="mt-1 border p-3 rounded-2xl  w-full sm:w-2/3 lg:w-1/2 mx-auto  text-white cursor-pointer" th:if="${product.quantity<=0}">
								Out Of Stock
							</div>
        </div>

        <div class="m-2 text-white absolute top-4  left-2 bg-black text-center p-1 px-2 text-xs" th:text="${product.discount}+'%'">
            -100%
        </div>

        <div class="m-2 py-2 bg-white rounded-full absolute top-4  right-2 md:right-4 border text-center w-8 md:w-10 hover:text-white hover:bg-black">
            <i class="fa-regular fa-heart"></i>
        </div>

        <div class="m-2 py-2 bg-white rounded-full absolute top-16  right-2 md:right-4 border text-center w-8 md:w-10 hover:text-white hover:bg-black">
            <a th:href="@{'/product/'+${product.id}}"><i class="fa-regular fa-eye"></i></a>
        </div>
    </div>
</div>
						
						</div>
					</div>	
				</div>
			<script type="text/javascript">
			document.getElementById("category").addEventListener("click", () => {
			    document.getElementById("items").classList.toggle("hidden");
			});
			document.getElementById("pricerange").addEventListener("input", () => {
			    document.getElementById("text").textContent=document.getElementById("pricerange").value;
			});
			
			
			</script>
		</main>
	</body>
</html>