<html th:replace="~{base::layout(~{::main})}">
	<body>
		<main class="font-[times]">
			<div class=" px-10 md:px-20 pt-5  md:py-10 ">
				<div class="text-xl md:text-2xl lg:text-4xl">Terms and Condition</div>
				<div class="text-md md:text-lg font-[sans] py-2 text-[#9f9f9f]">
					By using our website, you agree to our policies. Orders may be cancelled if the product is unavailable or due to any issue. Prices and product details can change at any time. We are not responsible for delivery delays once the order is shipped. All website content belongs to us and cannot be used without permission. For any questions, contact: ittracity@gmail.com 
				</div>
			</div>
		</main>
	</body>
</html>